
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
    background-color: #349ccc;
    width: 100%;
}
#botoes{
    justify-content: center;
    display:flex;
    flex-direction: row;
    margin-top: 100px;
}
.botao{
    font-size: 30px;
    background-color:#2c8cc0  ;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    color: white; 
    border-radius: 40px;
    width: 100px;
}
.botao:hover{
   color: black;
   background-color: whitesmoke;
}
#botaosim{
    position:absolute;
    margin-right: 200px;
    transition: 0.8s;
}
#botaonao{
    position:absolute;
    margin-left: 200px;
    transition: 0.8s;
}
.textoimportante{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
#imagemimportante{
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagemimportante img{
    height: 400px;
}

/*o css da outra página */

#outro{
    background-color: #dd9fa1;
    transition: 0.8s;
}

